---
import { slide } from "astro/virtual-modules/transitions.js";
import ArtisticSwirl from "../components/drinks/decorative/ArtisticSwirl.astro";
import { BAR_NAME } from "../constants";
import BaseLayout from "./BaseLayout.astro";

interface Props {
	pageTitle: string;
}
const { pageTitle } = Astro.props;
const swirlSwgClassName = "beverages";
---

<BaseLayout pageTitle={pageTitle}>
	<div class="beveragesLayout" transition:animate={slide({duration: "0.9s"})}>
		<div class="beveragesLayout__wrapper">
			<h1 class="beveragesLayout__headerLabel">
				{BAR_NAME.slice(0, -2)}
				{BAR_NAME.slice(-2)}
			</h1>
			<slot />
		</div>
		<footer class="beveragesLayout__footer">
			<span>05|2025</span>
		</footer>
		<div class="beveragesLayout__swirl beveragesLayout__swirl--top-left">
			<ArtisticSwirl svgClassName={swirlSwgClassName} />
		</div>
		<div class="beveragesLayout__swirl beveragesLayout__swirl--top-right">
			<ArtisticSwirl svgClassName={swirlSwgClassName} />
		</div>
		<div class="beveragesLayout__swirl beveragesLayout__swirl--bottom-left">
			<ArtisticSwirl svgClassName={swirlSwgClassName} />
		</div>
		<div
			class="beveragesLayout__swirl beveragesLayout__swirl--bottom-right"
		>
			<ArtisticSwirl svgClassName={swirlSwgClassName} />
		</div>
	</div>
</BaseLayout>

<style lang="scss">
	@use "../styles/mixins.scss" as *;
	@use "../styles/_viewport-breakpoints.scss" as *;
	@use "sass:color";
	$border-color: rgba(var(--color-caramel), 0.6);
	.beveragesLayout {
		display: flex;
		position: relative;
		flex-direction: column;
		flex-grow: 1;
		max-width: 480px;
		margin: 24px;
		padding: 8px 24px;
		border: 7px double var(--color-page-border);

		@media (min-width: $mobileM-min-width-viewport) {
			padding: 24px 40px;
		}

		&__headerLabel {
			display: flex;
			place-self: center;
			margin: 0;
			font-size: 5rem;
			font-family:
				Great Vibes,
				sans-serif;
			font-weight: 800;
		}

		&__footer {
			display: flex;
			margin-top: auto;
			margin-bottom: 8px;
			place-self: center;
			font-family: Pacifico;
			font-size: 1rem;
			letter-spacing: 4px;

			&::after,
			&::before {
				@include decorateElementWithTwoDashes();
			}
		}

		&__swirl {
			position: absolute;
			width: var(--size);
			height: var(--size);
			z-index: -1;
			display: none;

			@media (min-width: $mobileM-min-width-viewport) {
				display: block;
				--size: 60px;
			}

			@media (min-width: $mobileL-min-width-viewport) {
				--size: 80px;
			}

			&--top-left {
				top: -4px;
				left: -4px;
				transform: rotate(-90deg);
			}

			&--top-right {
				top: -4px;
				right: -4px;
			}

			&--bottom-left {
				bottom: -4px;
				left: -4px;
				transform: rotate(-180deg);
			}

			&--bottom-right {
				bottom: -4px;
				right: -4px;
				transform: rotate(90deg);
			}
		}
	}
</style>
